{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_arlo/contact_card

    Contact card template

    Context variables required for this template:
    * title - The title of the card
    * contactfullname - The full name of contact
    * contactfirstname - The first name of contact
    * contactlastname - The last name of contact
    * contactemail - The email of contact
    * contactcodprimary - The primary code of contact

    Example context (json):
    {
        "title": "Source",
        "contactfullname": "Arthur Fonzarelli",
        "contactfirstname": "Arthur",
        "contactlastname": "Fonzarelli",
        "contactemail": "Arthur.Fonzarelli@happydays.com",
        "contactcodeprimary": "XXX-1000",
        "hasuser": false,
        "userfirstname": "Arthur",
        "userlastname": "Fonzarelli",
        "useremail": "Arthur.Fonzarelli@happydays.com",
        "useridnumber": "XXX-1000",
        "hascourses": false
    }
}}
<div class="card">
    <div class="card-header"><h4>{{title}}</h4></div>
    <div class="card-body">
        <h5 class="card-title">{{contactfullname}}</h5>
        <p class="card-text"><h6>{{#str}} contactrecordinformation, enrol_arlo {{/str}}</h6></p>
        <p>{{contactfirstname}}</p>
        <p>{{contactlastname}}</p>
        <p>{{contactemail}}</p>
        <p>{{contactcodeprimary}}</p>
        {{#hasuser}}
            <p class="card-text"><h6>{{#str}} userrecordinformation, enrol_arlo {{/str}}</h6></p>
            <p>{{userfirstname}}</p>
            <p>{{userlastname}}</p>
            <p>{{useremail}}</p>
            <p>{{useridnumber}}</p>
            <p><a href="{{userprofileurl}}">{{#str}} browseuserprofile, enrol_arlo{{/str}}</a></p>
        {{/hasuser}}
    </div>
    {{#hascourses}}
    <div class="card-body">
        <h5 class="card-title">{{#str}} courses {{/str}}</h5>
    <ul class="list-group list-group-flush">
    {{#courses}}
        <li class="list-group-item">{{fullname}}
            {{#arloenrolment}}
                <a href="{{enrolurl}}"><span class="badge badge-info float-right">{{#str}} arloenrolment, enrol_arlo {{/str}}</span></a>
            {{/arloenrolment}}
            {{#timeaccess}}
                <a href="{{usercourseoutlineurl}}"><span class="badge badge-warning float-right">{{#str}} accessed, enrol_arlo {{/str}}</span></a>
            {{/timeaccess}}
        </li>
    {{/courses}}
    </ul>
    </div>
        {{#unenrolurl}}
            <div class="card-body">
                <a href="{{unenrolurl}}" class="btn btn-outline-primary btn-sm">{{#str}} unenrolfromarlocourses, enrol_arlo{{/str}}</a>
            </div>
        {{/unenrolurl}}
    {{/hascourses}}
</div>
